.Chair {
    &.booking {
        background: red !important;
        color: white;
    }
    &.booked {
        background: grey !important;
        color: white;
        pointer-events: none;
    }
}
.HomePage{
    background-image: url("../../public/images/bgmovie.jpg");
    background-repeat: none;
    background-size: cover;
    h1{
        color: white;
    }
    .chairlist{
        font-weight: 600;
        color: #00FF00;
        
    }
    .magic{
        width: 900px;
        border-radius: 20px;
        background: rgba(77, 13, 13, 0.34);
        padding: 20px;
        box-sizing: border-box;
        .screen{
            background: gray;
        }
        .hangGhe{
            transform: translateX(-10px);
        }
    }
    .result{
        transform: translateY(200px);
        background: rgba(153, 255, 175, 0.7);
        height: 560px;
        border-radius: 20px;
        h1{
            color: black;
        }
    }
}